.subtitle4 {
  margin-left: 7%;
  margin-bottom: 40px;
  margin-top: 60px;
  font-size: 40px;
}

.intro-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  text-align: center;
}
