.nav-bar {
  background-color: black;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.burguer-menu a {
  color: #bb8a36;
  text-decoration: none;
}

nav.open {
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  z-index: 1;
}

nav.hidden {
  display: block;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

button {
  background-color: black;
  color: #bb8a36;
  border: none;
  background: none;
}
