.hero-image {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

.alain-aspect {
  margin-left: 35%;
  margin-top: 25px;
  
}

.subtitle {
  margin-top: 60px;
  margin-left: 5%;
  font-size: 150%;
}
